.navbar{
    background-color: var(--ligth-color);
}

.brand-text {
    font-weight: 500;
    color: var(--secundary-color);
  }  

.nav-link{
    font-weight: 400;
    color: var(--secundary-color);
}

.nav-link:hover{
    color: var(--secundary-color);
}
  
.navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px; /* Ancho del icono */
    height: 18px; /* Altura total del icono */
    background: transparent; /* Elimina cualquier fondo */
}
  
.navbar-toggler-icon div {
    width: 100%;
    height: 2px; /* Grosor de las barras */
    background-color: #000; /* Color negro para las barras */
}

